ECS_CLUSTER="feria-v2"
ECS_SERVICE="feria-webapp"
ECS_CONTAINER_NAME="feria-webapp-container"
ECR_REPOSITORY="feria-webapp"
AWS_REGION="mx-central-1"
ECS_CPU="256"
ECS_MEMORY="512"
ECS_DESIRED_COUNT="1"
CONTAINER_PORT="80"
ALB_SCHEME="internet-facing"
ECS_EXECUTION_ROLE_NAME="GitHubActionsEcsTaskExecutionRole"
ECS_TASK_ROLE_NAME="GitHubActionsEcsTaskRole"

PULL="latest"